fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic[email]==2.8.2
pydantic-settings==2.4.0
sqlalchemy==2.0.23
bcrypt==4.1.2
pyjwt==2.8.0
python-multipart==0.0.6
google-auth==2.35.0
requests==2.32.3
smtplib
jinja2